.contentDiv {
	width: 100%;
	height: 1000px;
}

#homeDiv {
	background-color: red;
}

#aboutDiv {
	background-color: blue;
}

#portfolioDiv {
	background-color: green;
}

#contactDiv {
	background-color: grey;
}