.contentDiv {
	width: 100%;
	height: 1000px;
}

#homeDiv {
	background-image: url("coffeeAndCode.jpg");
}

#aboutDiv {
	background-color: blue;
}

#portfolioDiv {
	background-color: #13ddcd;
}

#contactDiv {
	background-color: grey;
}

#homeDiv {
	padding-top: 50px;
}