.container {
	width: 100%;
	padding: 0;
}

.contentDiv {
	width: 100%;
	height: 1000px;
}

#homeDiv {
	background-image: url("coffeeAndCode.jpg");
	background-size: 100% 100%;
	padding-top: 50px;
}

#title {
	font-family: 'Permanent Marker', cursive;
	font-size: 8.5em;
}

#tagline {
	font-family: 'Helvetica', sans-serif;
	font-size: 2.7em;

}

#socialLinks {
	display: inline-block;
}

#homeSocial {
	padding-top: 50px;
}

#aboutDiv {
	background-image: url('about-div.jpg');
	background-size: 100% 100%;
}

#portfolioDiv {
	background-color: #13ddcd;
}

#contactDiv {
	background-image: url("contact-div.jpg"); 
}

#portfolioDiv {
	background-image: url("portfolio-div.jpg");
}